<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    
  </head>
  <body>
    {{>header}}
    <p>{{name}}</p>
    {{>footer}}
    <form>
      <input placeholder="location">
      <button>Search</button>
    </form>
    <p class="ans"></p>
    <p class="ans-2"></p>
    <script src="/js/app.js"></script>
  </body>
</html>